<div class="wrapper-container">
    <div class="wrapper">
        <div class="top">
            <ul class="brand">
                <li class="barnd-item brand-logo">
                    <img src="../../assets/images/brand.svg" alt="" class="brand-avatar">
                </li>
                <li class="brand-item brand-name">
                    CodeArena
                </li>
            </ul>
            <ul class="actions">
                <li class="actions-item">
                    <a routerLink="/login" href="">Login</a>
                </li>
                <li class="actions-item">
                    <a routerLink="/register">Register</a>
                </li>
            </ul>

        </div>
        <!-- <div class="middle">
            <div class="middle-item">
                <div class="card editor-avatar mx-auto">
                    <div class="card-header d-flex">
                        <div class="point red"></div>
                        <div class="point green"></div>
                        <div class="point blue"></div>
                    </div>
                    <div class="card-body editor-body">
                        <div class="editor-body-top">
                            <div class="top-item" style="background-color: #49CEF2;">
                                <i class="fas fa-laptop-code fa-2x text-white"></i>
                            </div>
                            <div class="top-item" style="background-color: #A1D975;">
                                <i class="fas fa-trophy fa-2x text-white"></i>
                            </div>
                            <div class="top-item" style="background-color: #FEC34B;">
                                <i class="fas fa-share-alt fa-2x text-white"></i>
                            </div>
                            <div class="top-item" style="background-color: #F77272;">
                                <i class="fas fa-mobile-alt fa-2x text-white"></i>
                            </div>
                        </div>
                        <div class="editor-body-bottom">
                            <ul class="body-list">
                                <li class="body-list-item">
                                    <div class="bar bar-5"></div>
                                    <div class="pill" style="background-color: #A1D975;"></div>
                                </li>
                                <li class="body-list-item">
                                    <div class="bar bar-4"></div>
                                    <div class="pill" style="background-color: #FEC34B;"></div>
                                </li>
                                <li class="body-list-item">
                                    <div class="bar bar-7"></div>
                                    <div class="pill" style="background-color: #F77272;"></div>
                                </li>
                                <li class="body-list-item">
                                    <div class="bar bar-6"></div>
                                    <div class="pill" style="background-color: #A1D975;"></div>
                                </li>
                                <li class="body-list-item">
                                    <div class="bar bar-3"></div>
                                    <div class="pill" style="background-color: #FEC34B;"></div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="middle-item-title">
                    <span class="title primary-clr">Code</span>
                    <span class="separator">|</span>
                    <span class="title">Compete</span>
                    <span class="separator">|</span>
                    <span class="title secondary-clr">Share</span>
                </div>

                <div class="middle-item-description">
                    <p class="description grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>




            </div>
        </div> -->
        <div class="left">
            <div class="middle-item">
                <div class="middle-item-title">
                    <span class="title primary-clr">Code</span>
                    <span class="separator">|</span>
                    <span class="title">Compete</span>
                    <span class="separator">|</span>
                    <span class="title secondary-clr">Share</span>
                </div>

                <div class="middle-item-description">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>

        </div>
        <div class="right">
            <div class="card editor-avatar mx-auto">
                <div class="card-header d-flex">
                    <div class="point red"></div>
                    <div class="point green"></div>
                    <div class="point blue"></div>
                </div>
                <div class="card-body editor-body">
                    <div class="editor-body-top">
                        <div class="top-item" style="background-color: #49CEF2;">
                            <i class="fas fa-laptop-code fa-2x text-white"></i>
                        </div>
                        <div class="top-item" style="background-color: #A1D975;">
                            <i class="fas fa-trophy fa-2x text-white"></i>
                        </div>
                        <div class="top-item" style="background-color: #FEC34B;">
                            <i class="fas fa-share-alt fa-2x text-white"></i>
                        </div>
                        <div class="top-item" style="background-color: #F77272;">
                            <i class="fas fa-mobile-alt fa-2x text-white"></i>
                        </div>
                    </div>
                    <div class="editor-body-bottom">
                        <ul class="body-list">
                            <li class="body-list-item">
                                <div class="bar bar-5"></div>
                                <div class="pill" style="background-color: #A1D975;"></div>
                            </li>
                            <li class="body-list-item">
                                <div class="bar bar-4"></div>
                                <div class="pill" style="background-color: #FEC34B;"></div>
                            </li>
                            <li class="body-list-item">
                                <div class="bar bar-7"></div>
                                <div class="pill" style="background-color: #F77272;"></div>
                            </li>
                            <li class="body-list-item">
                                <div class="bar bar-6"></div>
                                <div class="pill" style="background-color: #A1D975;"></div>
                            </li>
                            <li class="body-list-item">
                                <div class="bar bar-3"></div>
                                <div class="pill" style="background-color: #FEC34B;"></div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="down">
            <button class="get-started" mdbBtn type="button" color="black" outline="true" mdbWavesEffect routerLink="/login">Start Coding</button>
        </div>
    </div>
</div>