<div class="wrapper">
    <!-- Card -->
    <mdb-card>
        <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
                <div class="brand">
                    <img src="../../assets/images/brand.svg" alt="" class="brand-avatar">
                    <span class="brand-name">
                        CodeArena
                    </span>
                </div>

            </mdb-card-title>

            <!-- Default form login -->
            <div class="text-center px-4 py-5">

                <p class="h4 mb-4">Sign in</p>

                <!-- Email -->
                <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username" [(ngModel)]="username">

                <!-- Password -->
                <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" [(ngModel)]="password">

                <!-- Sign in button -->
                <button mdbBtn color="elegant" block="true" class="my-4" type="button" mdbWavesEffect (click)="login()">Sign in</button>
                <p>
                    <a routerLink="/forgot-password">Forgot password?</a>
                </p>
                <hr>

                <!-- Register -->

                <p>Not a member?
                    <a routerLink="/register">Register</a>
                </p>

            </div>
            <!-- Default form login -->
        </mdb-card-body>
    </mdb-card>
    <div class="alert alert-dark" role="alert" *ngIf="message != ''" style="font-size: small;">
        {{message}}
    </div>
</div>