@import url("../../styles.scss");

$jumbo: 3rem;
$jumbo-sm: 2.5rem;
$title: 2rem;
$title-sm: 1.5rem;
$normal: 1rem;
$md: 0.9rem;
$sm: 0.8rem;

.wrapper {
    background-color: #FAFAFA   ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
}

.brand {
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.brand-avatar {
    height: 1.5rem;
}

.brand-name {
    font-size: 1.6rem;
    font-weight: bold;
}

.alert {
    position: fixed;
    top: 1rem;
    right: 1rem;
}
