@import url("../../styles.scss");

.navbar {
    width: 70%;
    height: 5vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-template-areas : "brand links";
    justify-content: space-between;
    padding: 0 1rem !important;
} 

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.brand {
    grid-area: brand;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.brand-logo {
    height: 1.3rem;
}

.brand-name {
    font-size: 1.4rem;
    // font-weight: bold;
    padding: 0 0.5rem;
}

.navbar-container {
    background-color: #ffffff;
    box-shadow: 0 0 4px 1px gainsboro;
}

.links {
    grid-area: links;
}

.nav-item {
    // font-weight: 700;
    padding: 0 2rem;
    position: relative;
    &:hover {
        border-radius: 4px;
        background-color: #fafafa !important;
    }
}

.active {
    color: #FBA34B;
   

}