<div class="settings-header">
    <ul class="settings settings-left">
        <li class="settings-item">
            <select class="browser-default custom-select custom-select-sm" [(ngModel)]="selectedLang" (change)="changeLanguage()">
                <option selected>Lang</option>
                <option value="C">C</option>
                <option value="C++">C++</option>
                <option value="Java">Java</option>
                <option value="Python 2.7">Python 2.7</option>
                <option value="Python 3.6">Python 3.6</option>
            </select>
        </li>
    </ul>
    <ul class="settings settings-middle">
        <li class="settings-item">
            <button type="button" class="btn btn-sm waves-effect btn-icon ">
                <i class="fas fa-cloud icon"></i>
            </button>
        </li>
        <li class="settings-item">
            <button type="button" class="btn btn-sm waves-effect btn-icon ">
                <i class="fas fa-share-alt icon"></i>
            </button>
        </li>
        <li class="settings-item">
            <button type="button" class="btn btn-sm waves-effect btn-icon ">
                <i class="fas fa-clone icon"></i>
            </button>
        </li>
        <li class="settings-item">
            <button type="button" class="btn btn-sm waves-effect btn-icon ">
                <i class="fas fa-sync-alt icon"></i>
            </button>
        </li>
    </ul>
    <ul class="settings settings-right">

        <li class="settings-item">
            <select class="browser-default custom-select custom-select-sm" [(ngModel)]="selectedFont">
                <option value="14px">14px</option>
                <option value="16px">16px</option>
                <option value="18px">18px</option>
            </select>
        </li>
        <li class="settings-item">
            <select class="browser-default custom-select custom-select-sm" [(ngModel)]="selectedTheme">
                <option selected>Theme</option>
                <option value="xcode">xcode</option>
                <option value="twilight">twilight</option>
                <option value="monokai">monokai</option>
                <option value="idle_fingers">idle_fingers</option>
                <option value="ecipse">eclipse</option>
            </select>
        </li>
    </ul>
</div>

<div style="" class="editor-container">
    <div ace-editor [(text)]="text" [mode]="selectedMode" [theme]="selectedTheme" [options]="options" [readOnly]="false"
    [autoUpdateContent]="true" [durationBeforeCallback]="1000" (textChanged)="onChange($event)" [style.font-size]="selectedFont"
    style="min-height: 650px; width:100%; overflow: auto; font-family: 'Ubuntu Mono', monospace;"></div>

</div>

