<div wrapper class="wrapper-container">
    <app-nav></app-nav>
    <div class="wrapper">
        <div class="left-container">
            <!-- <div style="overflow: auto; max-height: 650px;" class="editor-container"> -->
                <app-editor></app-editor>
            <!-- </div> -->
            <div class="customio">
                <div>
                    <span (click)="toggleCollapse()">Test against custom input <i class="fas"
                        [ngClass]="{'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed}"></i></span>
                        <span class="ml-5">{{compiling}}</span>
                </div>
               
                <button class="btn btn-sm bg-dark text-white" (click)="customRun()">Compile & Run</button>

            </div>

            <textarea name="" id="" cols="30" rows="5" class="form-control customio-box-textarea"
                [ngClass]=" {'hide':!collapsed}" [(ngModel)]="codeExec.customInput"></textarea>
            <div *ngIf="dOutput != ''">
                <div class="customio psuedo-black mt-3 mb-3 pr-1 py-1 text-sm">
                    <div>
                        <span>Output:</span>
                        
                    </div>
                   
                   <div>
                    <span> Time: {{dTime}} s</span>
                    <span class="px-2">|</span>
                    <span (click)="customToTest()">Add as testcase</span>
                   </div>
                </div>
                <p class="px-2 py-1" [ngClass]="{'success': !dErrorFlag, 'error': dErrorFlag}"
                    style="font-size: 0.9rem;">{{dContext}}</p>
                <textarea name="" id="" cols="30" rows="10" class="form-control  text-sm" [(ngModel)]="dOutput"
                    readonly></textarea>
            </div>

        </div>
        <div class="right-container">
            <div class="option card">
                <div class="card-body">
                    <div class="option-title d-flex justify-content-between pr-1">
                        <span>Fetch Problem </span>
                        <a (click)="reFetch()" title="Reset problem"><i class="fas fa-sync-alt"></i></a>
                    </div>
                    <div class="input-group mb-2" *ngIf="reset">
                        <input type="text" class="form-control form-control-sm" placeholder="Problem url"
                            [(ngModel)]="url" aria-label="Recipient's username" aria-describedby="basic-addon2">

                        <div class="input-group-append">
                            <button class="btn btn-sm bg-dark text-white" (click)="fetchProblem()">Go</button>
                        </div>
                    </div>
                    <p class="text-center" *ngIf="fetching != ''">{{fetching}}</p>
                    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                        aria-labelledby="myBasicModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body bg-body p-3">
                                    <mathjax [content]="mathContent"></mathjax>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button *ngIf="fetched" class="btn btn-sm border btn-block px-3 pallete"
                            (click)="basicModal.show();">
                            Question
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="option card">
                <div class="card-body">
                    <div class="option-title d-flex justify-content-between align-center pr-1">
                        <span>Testcases</span>
                        <span *ngIf="codeExec.testCases.length > 0" style="cursor: pointer;" class="pallete" (click)="runAllTests()" title="Run all">
                            <i class="fas fa-play"></i>
                        </span>
                    </div>
                    <p class="pallete text-center" *ngIf="codeExec.testCases.length == 0">
                        No testcase available. Please add using the fetch method or from custom input.
                    </p>
                    <div class="testbox" >
                        <div class="pallete test" *ngFor="let in of codeExec.testCases; let i = index; trackBy: trackByMethod">
                            <span (click)="testView(i)">Test#{{i}}</span>
                            <span>
                                <i [ngClass]="{
                                'fa-question-circle': in.status == 0,
                                'fa-check-circle': in.status == 1, 'green-text': in.status == 1,
                                'fa-exclamation-circle': in.status == 3, 'wa': in.status == 2,
                                'fa-times-circle': in.status == 2, 'ce': in.status == 3
                            }" class="fas"></i>
                            </span>
                        </div>
                        
                        <!-- <div class="pallete test"><span>Test#2</span> <span><i
                                    class="fas fa-check-circle green-text"></i></span></div>
                        <div class="pallete test"><span>Test#3</span><span><i class="fas fa-times-circle wa"></i></span>
                        </div>
                        <div class="pallete test"><span>Test#4</span> <span><i
                                    class="fas fa-check-circle green-text"></i></span></div>
                        <div class="pallete test"><span>Test#5</span><span><i class="fas fa-question-circle"></i></span>
                        </div>
                        <div class="pallete test"><span>Test#6</span><span><i
                                    class="fas fa-exclamation-circle ce"></i></span></div>
                        <div class="pallete test"><span>Test#10</span><span><i class="fas fa-clock ce"></i></span></div> -->
                    </div>
                </div>
            </div>
            <hr>
            <div class="option card" *ngIf="testViewCollapase">
                <div class="card-body">
                    <div class="option-title  d-flex justify-content-between pr-1">
                        <span>
                            Testview
                        </span>
                        <span (click) = "deleteTest()" style="cursor: pointer;" title="Delete this testcase">
                            <i class="fas fa-trash-alt"></i>
                        </span>

                    </div>
                    <p class="mb-0 d-flex justify-content-between" style="font-weight: 400;">

                        <span>Test #{{vId}}</span>
                        <span>
                            <span>{{vStatusText}}</span>
                            <span>
                                <i [ngClass]="{
                                'fa-question-circle': vStatus == 0,
                                'fa-check-circle': vStatus == 1, 'green-text': vStatus == 1,
                                'fa-exclamation-circle': vStatus == 3, 'wa': vStatus == 2,
                                'fa-times-circle': vStatus == 2, 'ce': vStatus == 3
                            }" class="fas"></i>
                            </span>
                        </span>

                    </p>
                    <div class="testviewbox">
                        <div class="testviewbox-title">
                            INPUT
                        </div>
                        <div class="testviewbox-content">
                            <pre class="mb-0">{{vInput}}</pre>
                        </div>
                        <div class="testviewbox-title">
                            ANSWER
                        </div>
                        <div class="testviewbox-content">
                            <pre class="mb-0">{{vAnswer}}</pre>
                            <!-- <textarea class="form-control form-control-sm" rows="10" [(ngModel)]="vAnswer" readonly></textarea> -->
                        </div>
                        <div class="testviewbox-title" *ngIf="vOutput != ''">
                            OUTPUT
                        </div>
                        <div class="testviewbox-content" *ngIf="vOutput != ''">
                            <pre class="mb-0">{{vOutput}}</pre>
                            <!-- <textarea class="form-control form-control-sm" rows="19" [(ngModel)]="vOutput" readonly></textarea> -->
                        </div>
                    </div>
                    <p class="mb-2 d-flex justify-content-between" style="font-weight: 400;"  *ngIf="vOutput != ''">
                        <span>{{vVerdict}}</span>
                        <span>time:{{vTime}}s</span>
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="footer">

            <p class="mb-1">
                &copy; 2020
            </p>
            <div class="brand">
                <img src="../../assets/images/brand.svg" alt="" height="2rem" class="brand-logo">
                <span class="brand-name">CodeArena</span>
            </div>
        </div>
    </div>
</div>

<!-- 
[ngClass]="{
    'fa-question-circle': x.status == 0,
    'fa-check-circle': x.status == 1, 'green-text': x.status == 1,
    'fa-exclamation-circle': x.status == 3, 'wa': x.status == 3 || x.status == 2,
    'fa-times-circle': x.status == 2
}" -->