<div wrapper class="wrapper-container">
    <app-nav></app-nav>
    <div class="wrapper">
        <div class="left-container">
            <app-editor></app-editor>
            <div class="customio">
                <span (click)="toggleCollapse()">Test against custom input <i class="fas"
                        [ngClass]="{'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed}"></i></span>
                <button class="btn btn-sm bg-dark text-white">Compile & Run</button>

            </div>

            <textarea name="" id="" cols="30" rows="5" class="form-control customio-box-textarea"
                [ngClass]=" {'hide':!collapsed}"></textarea>
            <div class="customio psuedo-black mt-3 mb-1 pr-1 py-1 text-sm">
                <span>Output:</span>
                <span>Time: 0.2s</span>
            </div>
            <textarea name="" id="" cols="30" rows="10" class="form-control  text-sm" readonly></textarea>

        </div>
        <div class="right-container">
            <div class="option card">
                <div class="card-body">
                    <div class="option-title d-flex justify-content-between">
                        <span>Fetch Problem </span>
                        <a><i class="fas fa-sync-alt"></i></a>
                    </div>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Problem url"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                           <button class="btn btn-sm bg-dark text-white">Go</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-sm border px-3 pallete">
                            Question
                        </button>
                        <button class="btn btn-sm border px-3 pallete">
                            Testcases
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="option card">
                <div class="card-body">
                    <div class="option-title">
                        Testcases
                    </div>
                    <p class="pallete text-center">
                        No testcase available. Please add using the fetch method or from custom input.
                    </p>
                    <div class="testbox">
                        <div class="pallete test"><span>Test#1</span><span><i class="fas fa-check-circle green-text"></i></span> </div>
                        <div class="pallete test"><span>Test#2</span> <span><i class="fas fa-check-circle green-text"></i></span></div>
                        <div class="pallete test"><span>Test#3</span><span><i class="fas fa-times-circle wa"></i></span></div>
                        <div class="pallete test"><span>Test#4</span> <span><i class="fas fa-check-circle green-text"></i></span></div>
                        <div class="pallete test"><span>Test#5</span><span><i class="fas fa-question-circle"></i></span></div>
                        <div class="pallete test"><span>Test#6</span><span><i class="fas fa-exclamation-circle ce"></i></span></div>
                        <div class="pallete test"><span>Test#10</span><span><i class="fas fa-clock ce"></i></span></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="option card">
               <div class="card-body">
                <div class="option-title">
                    TestView    
                </div>
                <div class="testviewbox">
                    <div class="testviewbox-title">
                        INPUT
                    </div>
                    <div class="testviewbox-content">
                        <p class="line">Hello world</p>
                        <p class="line">Hello world</p>
                        <p class="line">Hello world</p>
                        <p class="line">Hello world</p>
                        <p class="line"></p>
                        <p class="line"></p>
                    </div>
                    <div class="testviewbox-title">
                        ANSWER
                    </div>
                    <div class="testviewbox-content">
                        <!-- <p class="line line-ac">Hello world Hello world Hello world Hello world Hello world Hello world</p> -->
                        <p class="line line-ac">Hello world</p>
                        <p class="line line-ac">Hello world</p>
                        <p class="line line-ac"></p>
                        <p class="line line-ac"></p>
                        <p class="line line-ac">Hello world</p>
                        <p class="line line-ac">Hello world</p>
                        <p class="line line-ac">Hello world</p>
                        <p class="line line-ac">Hello world</p>
                        <p class="line line-ac"></p>
                        <p class="line line-ac"></p>
                    </div>
                    <div class="testviewbox-title">
                        OUTPUT
                    </div>
                    <div class="testviewbox-content">
                        <p class="line line-wa">Hello world</p>
                        <p class="line">Hello world</p>
                        <p class="line line-wa">Hello world</p>
                        <p class="line">Hello world</p>
                        <p class="line"></p>
                        <p class="line"></p>
                    </div>
                </div>
               </div>
            </div>
        </div>
        <div class="footer">

            <p class="mb-1">
                &copy; 2020
            </p>
            <div class="brand">
                <img src="../../assets/images/brand.svg" alt="" height="2rem" class="brand-logo">
                <span class="brand-name">CodeArena</span>
            </div>
        </div>
    </div>
</div>